<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Contact Us</title>
    <style>   	
    	html {
		  position: relative;
		  min-height: 100%;
		}
		body {
		  margin-bottom: 5em; /* Margin bottom by footer height */
		}
		footer{
    		background-color: rgb(52, 58, 64);
    		text-align: center;
    		color: rgba(255,255,255,0.5);
    		position: absolute;
			bottom: 0;
			width: 100%;
			height: 5em; /* Set the fixed height of the footer here */
			line-height: 5em; /* Vertically center the text there */
    	}
    </style>
  </head>

  <body>

  	<!-- Navbar-->
  	<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand mx-5" href="#">TNP Portal IGDTUW</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse  d-flex flex-row-reverse mx-5" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-itemmx-2">
	        <a class="nav-link" href="home.html">Home</a>
	      </li>
	      <li class="nav-item dropdown mx-2">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Why IGDTUW
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="history.html">History</a>
	          <a class="dropdown-item" href="students.html">Students</a>
	          <a class="dropdown-item" href="faculty&research.html">Faculty & Research</a>
	          <a class="dropdown-item" href="alumni.html">Alumni</a>
	          <a class="dropdown-item" href="courses-offered.html">Courses Offered</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown mx-2">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Placement
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="register.html">Register</a>
	          <a class="dropdown-item" href="procedure.html">Procedure</a>
	        </div>
	      </li>
	      <li class="nav-item mx-2">
	        <a class="nav-link" href="login.html">Login</a>
	      </li>
	      <li class="nav-item mx-2 active">
	        <a class="nav-link" href="contact-us.html">Contact Us</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	</section>

	<!-- Register -->
	<section>
		<div class="card mb-3"  style="width:80%; margin:2em auto;">
		  <div class="card-body">
		    <h3 class="card-title">Contact Us</h3>
		    <p class="card-text">
		    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		    </p>
		  </div>
		</div>
	</section>

	
	<!--Footer-->
	<footer>
		<span>Copyright &copy; 2019</span> | 
		<span>Created by Tripti Saini, Nipun Soni, Harshita and Priyanka<span>
	</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>